body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
body * {
  -webkit-user-select: none !important;
  user-select: none !important;
  -webkit-user-callout: none !important;
  -webkit-touch-callout: none !important;
}
input,
textarea {
  -webkit-user-select: text !important;
  user-select: text !important;
  -webkit-user-callout: default !important;
  -webkit-touch-callout: default !important;
}

#root,
body,
html {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'text-100';
  src: url('./assets/fonts/AppleSDGothicNeoL.ttf');
}
@font-face {
  font-family: 'text-200';
  src: url('./assets/fonts/AppleSDGothicNeoL.ttf');
}
@font-face {
  font-family: 'text-300';
  src: url('./assets/fonts/AppleSDGothicNeoL.ttf');
}
@font-face {
  font-family: 'text-400';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf');
}
@font-face {
  font-family: 'text-500';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf');
}
@font-face {
  font-family: 'text-600';
  src: url('./assets/fonts/AppleSDGothicNeoM.ttf');
}
@font-face {
  font-family: 'text-700';
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf');
}
@font-face {
  font-family: 'text-800';
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf');
}
@font-face {
  font-family: 'text-900';
  src: url('./assets/fonts/AppleSDGothicNeoB.ttf');
}

@font-face {
  font-family: 'number-100';
  src: url('./assets/fonts/SfCompactDisplay-light.otf');
}
@font-face {
  font-family: 'number-200';
  src: url('./assets/fonts/SfCompactDisplay-light.otf');
}
@font-face {
  font-family: 'number-300';
  src: url('./assets/fonts/SfCompactDisplay-light.otf');
}
@font-face {
  font-family: 'number-400';
  src: url('./assets/fonts/SfCompactDisplay.otf');
}
@font-face {
  font-family: 'number-500';
  src: url('./assets/fonts/SfCompactDisplay.otf');
}
@font-face {
  font-family: 'number-600';
  src: url('./assets/fonts/SfCompactDisplay.otf');
}
@font-face {
  font-family: 'number-700';
  src: url('./assets/fonts/SfCompactDisplay-bold.ttf');
}
@font-face {
  font-family: 'number-800';
  src: url('./assets/fonts/SfCompactDisplay-bold.ttf');
}
@font-face {
  font-family: 'number-900';
  src: url('./assets/fonts/SfCompactDisplay-bold.ttf');
}
